In [307]:
from libpgm.nodedata import NodeData
from libpgm.graphskeleton import GraphSkeleton
from libpgm.discretebayesiannetwork import DiscreteBayesianNetwork
from libpgm.lgbayesiannetwork import LGBayesianNetwork
from libpgm.hybayesiannetwork import HyBayesianNetwork
from libpgm.dyndiscbayesiannetwork import DynDiscBayesianNetwork
from libpgm.tablecpdfactorization import TableCPDFactorization
from libpgm.sampleaggregator import SampleAggregator
from libpgm.pgmlearner import PGMLearner

#create table
from prettytable import PrettyTable

#read csv
import pandas as pd

In [308]:
data=pd.read_csv("reviews_target.csv")
print(len(data))
data.head()

192263

,id,hotel,reader,helpful,overall,value,room,location,clean,check,service,business,target
0,0,hotel_231505,-1,-1,5,5,5,5,5,5,5,5,good
1,1,hotel_231505,-1,-1,1,1,1,3,2,1,3,3,bad
2,2,hotel_231505,-1,-1,3,3,2,3,4,2,2,3,bad
3,3,hotel_231505,1,0,1,1,1,3,1,1,1,3,bad
4,4,hotel_231505,1,1,5,5,5,3,5,5,5,5,good

In [309]:
bad=data.query('target == " bad" and overall >0')
good=data.query('target == " good"')
bad_n=len(bad)
good_n=len(good)
all_row=len(data)
print(bad_n,good_n)

(44577, 145932)

In [310]:
#numero di volte per ogni valore di clean dato good
clean_g_1=data.query('target == " good" and clean == 1')
clean_g_2=data.query('target == " good" and clean == 2')
clean_g_3=data.query('target == " good" and clean == 3')
clean_g_4=data.query('target == " good" and clean == 4')
clean_g_5=data.query('target == " good" and clean == 5')
clean_g=[len(clean_g_1),len(clean_g_2),len(clean_g_3),len(clean_g_4),len(clean_g_5)]
clean_g

[38, 467, 4645, 42326, 98456]

In [311]:
#numero di volte per ogni valore di clean dato bad
clean_b_1=data.query('target == " bad" and clean == 1')
clean_b_2=data.query('target == " bad" and clean == 2')
clean_b_3=data.query('target == " bad" and clean == 3')
clean_b_4=data.query('target == " bad" and clean == 4')
clean_b_5=data.query('target == " bad" and clean == 5')
clean_b=[len(clean_b_1),len(clean_b_2),len(clean_b_3),len(clean_b_4),len(clean_b_5)]
clean_b

[7675, 9820, 14536, 9042, 3506]

In [312]:
#numero di volte per ogni valore di value dato good
value_g_1=data.query('target == " good" and value == 1')
value_g_2=data.query('target == " good" and value == 2')
value_g_3=data.query('target == " good" and value == 3')
value_g_4=data.query('target == " good" and value == 4')
value_g_5=data.query('target == " good" and value == 5')
print(len(value_g_1),len(value_g_2),len(value_g_3),len(value_g_4),len(value_g_5))

(47, 524, 8043, 56491, 80827)

In [313]:
#numero di volte per ogni valore di value dato bad
value_b_1=data.query('target == " bad" and value == 1')
value_b_2=data.query('target == " bad" and value == 2')
value_b_3=data.query('target == " bad" and value == 3')
value_b_4=data.query('target == " bad" and value == 4')
value_b_5=data.query('target == " bad" and value == 5')
print(len(value_b_1),len(value_b_2),len(value_b_3),len(value_b_4),len(value_b_5))

(10762, 13413, 16219, 3510, 673)

In [314]:
#numero di volte per ogni valore di room dato good
room_g_1=data.query('target == " good" and room == 1')
room_g_2=data.query('target == " good" and room == 2')
room_g_3=data.query('target == " good" and room == 3')
room_g_4=data.query('target == " good" and room == 4')
room_g_5=data.query('target == " good" and room == 5')
print(len(room_g_1),len(room_g_2),len(room_g_3),len(room_g_4),len(room_g_5))

(57, 1091, 10398, 54828, 79558)

In [315]:
#numero di volte per ogni valore di room dato bad
room_b_1=data.query('target == " bad" and room == 1')
room_b_2=data.query('target == " bad" and room == 2')
room_b_3=data.query('target == " bad" and room == 3')
room_b_4=data.query('target == " bad" and room == 4')
room_b_5=data.query('target == " bad" and room == 5')
print(len(room_b_1),len(room_b_2),len(room_b_3),len(room_b_4),len(room_b_5))

(9983, 12984, 14537, 5641, 1438)

In [316]:
#numero di volte per ogni valore di location dato good
loc_g_1=data.query('target == " good" and location == 1')
loc_g_2=data.query('target == " good" and location == 2')
loc_g_3=data.query('target == " good" and location == 3')
loc_g_4=data.query('target == " good" and location == 4')
loc_g_5=data.query('target == " good" and location == 5')
print(len(loc_g_1),len(loc_g_2),len(loc_g_3),len(loc_g_4),len(loc_g_5))

(73, 871, 5016, 50328, 89644)

In [317]:
#numero di volte per ogni valore di location dato bad
loc_b_1=data.query('target == " bad" and location == 1')
loc_b_2=data.query('target == " bad" and location == 2')
loc_b_3=data.query('target == " bad" and location == 3')
loc_b_4=data.query('target == " bad" and location == 4')
loc_b_5=data.query('target == " bad" and location == 5')
print(len(loc_b_1),len(loc_b_2),len(loc_b_3),len(loc_b_4),len(loc_b_5))

(7016, 10121, 14888, 7468, 5084)

In [318]:
#numero di volte per ogni valore di check dato good
check_g_1=data.query('target == " good" and check == 1')
check_g_2=data.query('target == " good" and check == 2')
check_g_3=data.query('target == " good" and check == 3')
check_g_4=data.query('target == " good" and check == 4')
check_g_5=data.query('target == " good" and check == 5')
print(len(check_g_1),len(check_g_2),len(check_g_3),len(check_g_4),len(check_g_5))

(289, 1319, 6480, 49710, 88134)

In [319]:
#numero di volte per ogni valore di check dato bad
check_b_1=data.query('target == " bad" and check == 1')
check_b_2=data.query('target == " bad" and check == 2')
check_b_3=data.query('target == " bad" and check == 3')
check_b_4=data.query('target == " bad" and check == 4')
check_b_5=data.query('target == " bad" and check == 5')
print(len(check_b_1),len(check_b_2),len(check_b_3),len(check_b_4),len(check_b_5))

(9767, 11532, 16757, 4447, 2074)

In [320]:
#numero di volte per ogni valore di service dato good
ser_g_1=data.query('target == " good" and service == 1')
ser_g_2=data.query('target == " good" and service == 2')
ser_g_3=data.query('target == " good" and service == 3')
ser_g_4=data.query('target == " good" and service == 4')
ser_g_5=data.query('target == " good" and service == 5')
print(len(ser_g_1),len(ser_g_2),len(ser_g_3),len(ser_g_4),len(ser_g_5))

(135, 1122, 8257, 47653, 88765)

In [321]:
#numero di volte per ogni valore di service dato bad
ser_b_1=data.query('target == " bad" and service == 1')
ser_b_2=data.query('target == " bad" and service == 2')
ser_b_3=data.query('target == " bad" and service == 3')
ser_b_4=data.query('target == " bad" and service == 4')
ser_b_5=data.query('target == " bad" and service == 5')
print(len(ser_b_1),len(ser_b_2),len(ser_b_3),len(ser_b_4),len(ser_b_5))

(10477, 11286, 14801, 6078, 1941)

In [322]:
#numero di volte per ogni valore di business dato good
b_g_1=data.query('target == " good" and business == 1')
b_g_2=data.query('target == " good" and business == 2')
b_g_3=data.query('target == " good" and business == 3')
b_g_4=data.query('target == " good" and business == 4')
b_g_5=data.query('target == " good" and business == 5')
print(len(b_g_1),len(b_g_2),len(b_g_3),len(b_g_4),len(b_g_5))

(470, 1807, 10752, 56462, 76441)

In [323]:
#numero di volte per ogni valore di service dato bad
b_b_1=data.query('target == " bad" and business == 1')
b_b_2=data.query('target == " bad" and business == 2')
b_b_3=data.query('target == " bad" and business == 3')
b_b_4=data.query('target == " bad" and business == 4')
b_b_5=data.query('target == " bad" and business == 5')
print(len(b_b_1),len(b_b_2),len(b_b_3),len(b_b_4),len(b_b_5))

(10302, 12721, 18089, 2490, 975)

In [325]:
#create view to cpt clean
cpt_clean= PrettyTable()
cpt_clean.field_names =["P(clean|target)",1,2,3,4,5]
good_c=[]
bad_c=[]
for i in range(len(clean_g)):
    good_c.append(float(clean_g[i])/good_n)
    bad_c.append(float(clean_b[i])/bad_n)
a=sum(good_c)
b=sum(bad_c)
b

1.0000448661865984

In [85]:
skel= GraphSkeleton()

In [86]:
skel.load('./skeleton.txt')

In [87]:
skel.toporder()

In [88]:
skel.getparents("room")

[u'target']

In [89]:
skel.getchildren("target")

[u'clean', u'value', u'room', u'location', u'check', u'service', u'business']